.code-copy {
  color: #aaa;
  fill: #aaa;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

div[class*="language-"] pre .code-copy,
div[class*="aside-code"] aside .code-copy {
  position: absolute;
  z-index: 4;
  top: 28px;
  right: 15px;
  opacity: 0;
  font-size: 16px;
}

div[class*="language-"] pre:hover .code-copy,
div[class*="aside-code"] aside:hover .code-copy {
  opacity: 1;
}

.content pre,
.content pre[class*=language-] {
  overflow-y: hidden;
}

div[class*="language-"] pre,
div[class*="language-"] pre[class*="language-"] {
  position: static !important;
}

div[class~="language-text"]:before {
  content: "text";
}

div[class~="language-yml"]:before {
  content: "yml";
}

div[class*="language-"] pre {
  user-select: text;
}

p code {
  user-select: all;
}

.code-copy .code-copy-bubble {
  display: block;
  position: absolute;
  left: 50%;
  top: -16px;
  box-sizing: border-box;
  transform: translate3d(-50%, -100%, 0);
  background-color: #ccc;
  color: #2c3e50;
  padding: 4px 8px;
  word-break: normal;
  white-space: normal;
  border-radius: 4px;
}

.code-copy .code-copy-bubble.hide {
  display: none;
}

.code-copy .code-copy-bubble::after {
  content: '';
  box-sizing: content-box;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 98%, 0);
  border: 8px solid transparent;
  border-top-color: #ccc;
}
