.nav-bar {
  backdrop-filter: blur(7px);
}

.sidebar {
  .sidebar-link-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

h1 {
  margin-top: 1.5rem;
  font-size: 1.9rem;
  line-height: 1.25;
}

@media screen and (min-width: 420px) {
  h1 {
    font-size: 2.2rem;
  }
}

h2 {
  margin-top: 2.25rem;
  margin-bottom: 1.25rem;
  padding-bottom: 0.3rem;
  line-height: 1.25;
  font-size: 1.65rem;
}

h2 + h3 {
  margin-top: 1.5rem;
}

h3 {
  margin-top: 0.5rem;
  font-size: 1.35rem;
}

h4 {
  margin-top: 0.3rem;
  font-size: 1rem;
}

h5 {
  margin-top: 0.2rem;
  font-size: 0.92rem;
}

h6 {
  margin-top: 0.16rem;
  font-size: 0.84rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
