<template>
  <div class="kata q-pa-md">
    <div class="kata">
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="secondary"
        indicator-color="secondary"
        align="justify"
        narrow-indicator
      >
        <q-tab v-for="item in tabs" :name="item.name" :label="item.label"></q-tab>
      </q-tabs>
    </div>
    <div class="q-gutter-y-md">
      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="record">
          <q-card-section>
            <div class="q-pa-md q-gutter-sm">
              <q-btn
                type="a"
                :href="`https://www.codewars.com/kata/${kata.id}`"
                target="_blank"
                color="secondary"
                label="原题页面"
              />
              <q-btn
                type="a"
                :href="`https://www.codewars.com/kata/${kata.id}//train/javascript`"
                target="_blank"
                color="secondary"
                label="直接开始(JS)"
              />
            </div>
          </q-card-section>
          <q-card-section>
            <p>
              <b>提出者：</b>
              {{ kata.reporter }}
            </p>
            <p>
              <b>提出时间：</b>
              {{ formatReportedTime(kata.reportedTime) }}
            </p>
            <p>
              <b>优秀解决方案：</b>
              <template v-if="kata.coolSolutions">
                <q-btn
                  flat
                  rounded
                  color="primary"
                  :label="item"
                  v-for="(item, index) in kata.coolSolutions"
                  @click="handleSolutionClick(kata, index)"
                />
              </template>
            </p>
            <p>
              <b>已解决此题者：</b>
              <span v-for="name in kata.sakamotos">{{ name }}</span>
            </p>
            <p>
              <b>备注：</b>
              {{ kata.comment }}
            </p>
          </q-card-section>
        </q-tab-panel>
        <q-tab-panel name="question">
          <slot name="question"></slot>
        </q-tab-panel>
        <q-tab-panel name="ideas">
          <template v-if="ideas.length > 0">
            <q-splitter v-model="splitterModel" style="height: 400px">
              <template #before>
                <q-tabs v-model="vTab" vertical class="text-teal">
                  <q-tab v-for="vItem in ideas" :name="vItem" :label="vItem"></q-tab>
                </q-tabs>
              </template>

              <template #after>
                <q-tab-panels v-model="vTab">
                  <q-tab-panel v-for="(vItem, index) in ideas" :name="vItem">
                    <slot :name="`idea_${index}`"></slot>
                  </q-tab-panel>
                </q-tab-panels>
              </template>
            </q-splitter>
          </template>
          <template v-for="idea in ideas"> </template>
        </q-tab-panel>
      </q-tab-panels>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, reactive } from 'vue';
import { getKatas } from '../data/katas';
import dayjs from 'dayjs';

const props = defineProps({
  id: {
    type: String,
    required: true,
  },
  ideas: {
    type: Array,
    default: () => [],
  },
});

const tabs = reactive([
  {
    name: 'record',
    label: '记录信息',
  },
  {
    name: 'question',
    label: '题目',
  },
  {
    name: 'ideas',
    label: '解题思路',
  },
]);

const tab = ref('record');
const vTab = ref(props.ideas[0] || '');
const splitterModel = ref(15);

const kata = getKatas().find((k) => k.id === props.id)!;

const handleSolutionClick = (kata, index) => {
  const { reviewID, coolSolutions = [] } = kata;
  if (!reviewID || coolSolutions.length < index) return alert('解决方案配置不正确！');
  window.open(`https://www.codewars.com/kata/reviews/${reviewID}/groups/${coolSolutions[index]}`);
};

const formatReportedTime = (val) => dayjs(val).format('YYYY-MM-DD HH:mm:ss');
</script>

<style lang="scss" scoped></style>
